:root {
    --black: #260621;
    --beige: #D9BDAD;
    --dbeige: #BF907E;
    --brown: #734743;
    --dblack: #260101;
}
body {
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}
/* TYPOGRAPHY */
body * {
  margin: 0;  
  
}
h1{
    font-family: Homemade Apple, sans-serif;
    font-size: 3rem;
}
.logo-sub {
    font-size: .75rem;
    color: var(--brown);
}
nav {
    font-family: reenie beanie;
    font-size: 1.5rem;
}
/* LAYOUT */
.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

/* LOGO */
.logo {
    position: relative;
}
.logo-sub{
    position: absolute;
}
.logo-sub-first {
    position: absolute;
    width: 10em;
    top: -2.5em;
    left: .25em;
    text-align: center;
}
.logo-sub-second{
    position: absolute;
    width: 10em;
    text-align: center;
    top: -2em;
    left: 12em;
    
}
/* NAVIGATION */
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 2em 0;
}
nav li {
    padding: .5em;
}
nav a {
    color: var(--dbeige);
    text-decoration: none;
    padding: 0 .25em;
}

nav a:hover,
nav a:focus {
    color: var(--black);
    font-weight: bold;
    opacity: 0.6;   
}

.current-page {
    border-bottom: 1px solid var(--brown);
}
@media (min-width: 600px) {
    nav ul{
        flex-direction: row;
        justify-content: space-between;
    }
}
